body {
  width: 400px;
  font-family: 'Lato', sans-serif;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 4px;
}

.name {
  margin-right: 8px;
  font-weight: bold;
}

.value {
  display: flex;
}

input {
  font-size: 18px;
  width: 250px;
}

.select {
  font-size: 18px;
  border-color: #ccc;
}

hr {
  margin: 10px 0;
}


.addon {
  padding: 6px;
  color: #555;
  border: 1px solid #ccc;
  border-left: 0;
  cursor: pointer;
  display: flex;
  
}

.addon img {
  width: 20px;
  height: 20px;
}

.addon:last-child {
  border-radius: 0px 4px 4px 0px;
}